[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=mate-panel
Comment=
Exec=mate-panel
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

